<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/yy.png" alt="Soundscape Logo">
    </a>

    <div class="navbar-title">
      <span>MapSound</span>
      <span>Of Egypt</span>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto main-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/aboutus">ABOUT</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/blog">BLOG</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/addsound">SUBMIT A SOUND</a></li>
        <li class="nav-item" *ngIf="isLoggedIn"><a class="nav-link" routerLink="/mysounds">MY SOUNDS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/content">CONTACT US</a></li>
        <li class="nav-item" *ngIf="isAdmin"><a class="nav-link" routerLink="/admin">ADMIN</a></li>
      </ul>

      <div class="utility-nav d-flex align-items-center">
        <ng-container *ngIf="isLoggedIn; else guestLinks">
          <div class="utility-item" routerLink="/myprofile">
            <img src="assets/profile-user.png" alt="Profile">
            <span class="utility-label">Profile</span>
          </div>
          <div class="utility-item" (click)="logout()">
            <img src="assets/images-removebg-preview.png" alt="Logout">
            <span class="utility-label">Logout</span>
          </div>
        </ng-container>

        <ng-template #guestLinks>
          <div class="utility-item" routerLink="/register">
            <img src="assets/profile-user.png" alt="Register">
            <span class="utility-label">Register</span>
          </div>
        </ng-template>

        <div class="utility-item" (click)="toggleLanguageDropdown()">
          <img src="assets/world.png" alt="Language">
          <span class="utility-label">{{ selectedLanguage || 'Language' }}</span>
          <div *ngIf="isDropdownVisible" class="language-dropdown">
            <ul>
              <li *ngFor="let language of languages" (click)="selectLanguage(language, $event)">
                {{ language }}
              </li>
            </ul>
          </div>
        </div>

        <div class="utility-item d-none d-lg-flex">
          <img src="assets/logo.jpg" alt="App" style="width: 45px; height: 45px;">
        </div>
      </div>
    </div>
  </div>
</nav>
