<!-- soundmap.component.html -->
<div class="container" style="max-width: 950px;">
    
    <div class="row content">
      <div class="col-md-8">
        <p>
          <header class="hero" style="position: absolute;
    top: 57px;">
            <h1 style=" font-size: 25px;
">ABOUT <span class="text" style="color: #EF5F34;">SOUNDMAP Of Egypt</span> </h1>
          </header>      <br>   
SoundMap of Egypt   project hosted by the Soundscape and Urban Ambiences lab (DCSC-Dynamic systems and digitalization cluster) funded by Ain Shams University. This project aims to create a platform that links the sounds of the city to specific locations on a satellite map. This SoundMap serves as a Sound archive that aims to preserve the sounds of the Egyptian cities facing rapid transformation that may lead to an erasure or a change in their existing soundscapes. 
<br><br> 

          <span style="font-weight:bolder;">
    1-SoundMap of Egypt  
</span>         <br> 

The current proposal combines teaching and research in an applied project. Since fall 2021, the course Soundscape and Aural Architecture has been integrated to the bylaw of the architectural and urban curriculum in the faculty of Engineering-ASU. Taught by Noha Gamal Said, the current project is aligned with the introduction of the sonic dimension of the city as a main axe for analyzing and understanding cities.
            <br><br> 
            <span style="font-weight:bolder;">
             2-SoundMap of Egypt  
            </span>         <br> 
          
            The project highlights the importance of sound in creating the identity of the city through constructing a database on the Egyptian Acoustic Heritage. The objective is to create a Sound Archive of the Egyptian cities that underlines the sonic identity of the city.
                         <br><br>           <span style="font-weight:bolder;">

                3-SoundMap of Egypt  
            </span>         <br>
         
            The above-mentioned objective related to sounds goes with the current vision of the Egyptian government which seeks to reinforce the city identity and the city branding. we would like to broaden the spectrum of cultural identity to include the sonic dimension of the city identity and city the branding .الهوية السمعية للمدن
                        <br><br>           <span style="font-weight:bolder;">

                          4-SoundMap of Egypt  
            </span>         <br> 
            The interest in the sonic dimension is an emerging concern on the international level. It deals with the role that the sound heritage plays in the composition of the history and memory of cities. Sound becomes an axis of intangible and cultural heritage as defined by UNESCO. This is actually the main objective of the French association “The UNESCO Week of Sound” that aims to promote the sound dimension in imagining the heritage of the cities.
            In this optic, the Faculty of Engineering has hosted the first edition of the UNESCO Week of Sound in Egypt in May 2022 in collaboration with the French Embassy and with the Week of Sound Association in Paris – France.
      </div>
      <div class="col-md-4">
        <div class="illustration">
            <img src="assets/11.png" alt="Illustration" class="img-fluid" style="height: 400px;"/><br>
            <img src="assets/11.png" alt="Illustration" class="img-fluid" style="height: 400px;"/><br>
        </div>
      </div>
    </div>
    <div class="wave"><img src="assets/moga.png" alt="" style="    width: 100%;
      height: 60px;
  "></div>
    <section class="content">
      <h2>HOW TO PARTICIPATE IN <span class="text" style="color: #EF5F34;">SOUNDMAP?</span></h2>
      <p>
        You can be a part of the SoundMap project by contributing your own sound fragments!
        To participate, please provide the following information:
        
        Sound fragment title
        location of the recording
        Key words
        sound effect
        sound recordist
        Sound fragment URL (MP3 file)
        A description of the spatial configuration were your sound has been recorded, the social practices observed, sound events and some elements of your perception or feeling      </p>
    </section>
  </div>